<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- get axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Films</title>
</head>
<body>
    <h1>All Star Wars Films</h1>
    <h4><%= filmDat.length %> films found </h4>
    <% for (let film of filmDat) { %> 
        <a href="/films/<%= film.title %> "><h4><%= film.title %></h4></a> 
    <% } %> 

    <script src="scripts/script.js"></script>
</body>
</html>