<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- get axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Films</title>
</head>
<body>
    <h1>Starwars World</h1>

    <% for (let film of filmDat) { %> 
        <h4><%= film.title %></h4> 
    <% } %> 

    <script src="scripts/script.js"></script>
</body>
</html>