table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
  }

th {
    width: 5rem;
    text-align: right;
    padding: 5px 10px;
    background-color: rgb(228, 255, 187);
}
  td {
    padding: 5px 10px;
}

.alt {
    background-color: rgb(216, 211, 211);
}